$menu-color: black;
@mixin header-link {
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 2px;
}

.header {
    background-color: rgb(116, 116, 116);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo {
       @include header-link;
    }

    &__navList {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    &__itemLink {
        @include header-link;
        
        &:hover {
            border-bottom: 2px solid $menu-color;
        }

        &--isActive{
            border-bottom: 2px solid $menu-color;
        }

    }
}